{% extends 'base.html' %}
{% load static %}
{% block body %}
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span>About</span>
              </div>
              <h1>About Us</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url({% static 'img/slider_1.jpg' %});"></li>
      <li style="background-image: url({% static 'img/slider_4.jpg' %});"></li>
      <li style="background-image: url({% static 'img/slider_2.jpg' %});"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">Our Company</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><img src="{% static 'img/slider_5.jpg' %}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
        </div>
      </div>
      <div class="row">
          {% for about in about_us %}
            <div class="col-md-6">
                <h2>{{ about.vision }}</h2>
                <p>{{ about.mission }}</p>
            </div>
          {% endfor %}
      </div>

    </div>

  </section>

{% for history in history_all %}
  <section class="probootstrap-half">

    <div class="image-wrap">
      <div class="image" style="background-image: url({% static 'img/slider_2.jpg' %});"></div>
    </div>
    <div class="text">
      <p class="mb10 subtitle">{{history.title}}</p>
      <h3 class="mt0 mb40">{{ history.sub_title }}</h3>
      <p>{{ history.body }}</p>
      <p><a href="#" class="btn btn-primary mb10">Find out more</a></p>

    </div>
  </section>
     {% endfor %}
{% endblock %}